# For julia

*.jl.cov
*.jl.mem

/docs/build
# Generated data/Results
*.csv
*.jld2 # Create exceptions for results of long simulations
# Large sample datasets
*.h5
*.hdf5

# Generated plots
*.pdf

# Emacs
*~
\#*\#
.\#*

/Manifest.toml
